.side-menu {
  background: -webkit-gradient(linear, left top, left bottom, from(#2378FC), to(#0045B0));
  background: -o-linear-gradient(top, #2378FC 0%, #0045B0 100%);
  background: linear-gradient(180deg, #2378FC 0%, #0045B0 100%); }
  .side-menu-inner {
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 75px;
    padding-bottom: 75px; }
  .side-menu__col {
    max-width: 210px;
    width: 100%; }
  .side-menu__title {
    font-family: 'Plumb';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 130%;
    letter-spacing: -0.01em; }
  .side-menu__list {
    list-style-type: none;
    padding: 0;
    margin-top: 30px; }
    .side-menu__list li:not(:last-child) {
      padding-bottom: 15px; }
  .side-menu__link {
    font-family: 'Circe';
    font-weight: 400;
    font-size: 16px;
    line-height: 135%;
    -webkit-transition: .2s linear;
    -o-transition: .2s linear;
    transition: .2s linear; }
    .side-menu__link:hover {
      color: #FFC41E;
      -webkit-text-decoration-line: underline;
              text-decoration-line: underline; }

@media (max-width: 1110px) {
  .side-menu-inner {
    padding: 60px 15px;
    max-width: 992px; } }

@media (max-width: 992px) {
  .side-menu-inner {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 95%; }
  .side-menu__col {
    max-width: 250px; }
    .side-menu__col:nth-child(3) {
      margin-top: 20px; }
    .side-menu__col:nth-child(4) {
      margin-top: 20px; }
    .side-menu__col:nth-child(odd) {
      margin-right: 30px; }
  .side-menu__list {
    margin-top: 20px; }
  .side-menu__link {
    font-size: 20px; } }

@media (max-width: 575px) {
  .side-menu {
    display: none;
    /*&__col{
            max-width: 400px;
            display: flex;
            flex-direction: column;
            text-align: center;

            &:not(:first-child){
                margin-top: 20px;
            }
            &:nth-child(odd){
                margin-right: 0;
            }
        }*/ } }

/*@media (max-width: 450px) {
    .side-menu{
        &-inner{
            max-width: 85%;
        }
    }
}*/
/*@media (max-width: 420px) {
    .side-menu{
        &-inner{
            padding: 40px 15px;
        }
    }
}

@media (max-width: 320px) {
    .side-menu{
    
        &__title{
            font-size: 26px;
        }
        &__link{
            font-size: 18px;
        }
    }
}*/
